.btn-circle {
    width: 38px;
    height: 38px;
    border-radius: 19px !important;
    text-align: center !important;
    padding: 0 !important;
}

.btn-circle-social {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

.container-main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-min {
    padding: 1px 10px !important;
}

.section-padding-top{
    padding-top: 30px;
}
/* Единый загрузочный спиннер для всего сайта */
.bm-loading-spinner {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-animation: bm-loading-spinner-anim 1s linear infinite;
    animation: bm-loading-spinner-anim 1s linear infinite;
    box-shadow: 0.9pt 0 0 #1d3f72;
}

div.bm-loading-spinner {
    margin: 0 auto;
}

span.bm-loading-spinner {
    display: inline-block;
    margin: 0 10px;
}

.bm-loading-spinner.sm {
    width: 50px;
    height: 50px;
}

.bm-loading-spinner.md {
    width: 75px;
    height: 75px;
}

.bm-loading-spinner.lg {
    width: 100px;
    height: 100px;
}

.bm-loading-spinner.reverse {
    animation-direction: reverse;
}

@keyframes bm-loading-spinner-anim {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes bm-loading-spinner-anim {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* Конец спинера */
.min-allert{
    padding: .345rem 1.25rem !important;
}
.list-header{
    background-color: #dee2e6;
    padding: 5px 0;
    font-weight: bold;
}
.list-row{
    border-bottom: 1px solid#dee2e6;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-qr{
    -webkit-user-select: none;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}